name: CI

on:
  push:
    branches-ignore: [ "main" ]
    paths-ignore:
      - '**.md'

  pull_request:
    branches-ignore: [ "main" ]
    paths-ignore:
      - '**.md'

  # Adds ability to run this workflow manually
  workflow_dispatch:


jobs:

  lint:
    runs-on: ubuntu-latest
    env:
        HADOLINT_RECURSIVE: "true"

    steps:
      - uses: actions/checkout@v3
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: "Dockerfile*"
    

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ci:$(date +%s)
